.roof {
    width: 100%;
    background-color: $white;
}

.navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &-image {
        height: 100%;
    }

    &-description {
        font-size: .75rem;
        line-height: 1.15;
        text-transform: uppercase;
        color: $brand-primary;
        margin-left: 1rem;
    }
}
