@mixin link() {
}
@mixin link-expanded() { background-color: rgb(123, 160, 211) }
@mixin link-text() {
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    border-style: solid;
}
@mixin collapse-block() {
    border-width: 1px;
    border-color: $brand-gray;
    border-style: solid;
    background: url(../images/arrow.png) 1rem 1rem no-repeat scale-color($brand-gray-light, $lightness: +40%);
    padding: 0 2rem 0 4rem;
}
@mixin collapse-list {
    padding: 0;
    list-style: none;
}
@mixin collapse-item {
    border: 1px solid $brand-gray;
    background-color: $white;
    cursor: pointer;
}
@mixin collapse-link {}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s ease;
}
.slide-fade-enter {
  transform: translateX(10px);
  opacity: 0;
}
.slide-fade-leave-to {
    transform: translateX(-10px);
    opacity: 0;
}

.mark {

    &-list { // marks
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        list-style: none;

        &::after {
            content: '';
            flex: auto;
        }
    }

    &-item {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        width: 24%;
        height: 52px;
        padding: 0.25rem 0.5rem;
        margin-top: 0.25rem;
        margin-right: 1%;
        background: $white;
        border: 2px solid $brand-gray;
        transition: border-color 0.2s ease;


        &:hover {
            overflow: visible;
            border-color: $brand-gray-dark;
        }
        &:hover .mark-link-list {
            opacity: 1;
        }
    }

    &-image {
        object-fit: contain;
        max-width: 57px;
        max-height: 46px;
        margin-right: 1rem;
    }
    &-name { text-transform: uppercase }


    &-link {
        position: relative;
        display: block;
        padding: 0.5rem 1rem;
        text-align: center;
        background: transparent;
        transition: background 0.2s ease;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            height: 1px;
            background-color: $brand-gray;
        }
        &:hover { text-decoration: none }

        .active & {
            background-image: repeating-linear-gradient( $loading );
            background-size: 28px 28px;
            animation: move 0.75s linear infinite
        }

        &-list {
            padding: 0;
            list-style: none;
            position: absolute;
            left: -2px;
            top: 100%;
            width: calc(100% + 4px);
            opacity: 0;
            z-index: 1;
            border-width: 0 2px 2px 2px;
            border-style: solid;
            border-color: $brand-gray-dark;
            background-color: $white;
            transition: opacity 0.2s ease;
        }
    }


}
.series {
    &-header{
        th {
            border: 0;
        };
    }
    &-link {
        background-color: $white;
        cursor: pointer;
        &:hover {
            background-color: rgb(123, 160, 211) !important;
            color: $white;
        }
        td {
            border: 1px solid rgb(196, 196, 196);
            padding: 0.25rem 1rem;
        }

    }

    .model {
        @include collapse-block;

        &-market { }
        &-list { @include collapse-list }
        &-item { @include collapse-item }
    }

    .production {
        &-table {
            width: 100%;
            background-color: $white;

            td {
                border: 1px solid $brand-gray;
                text-align: center;
                padding: 0;
            }
        }
        &-link {
            display: inline-block;
            padding: 1px;
            height: 100%;
            width: 100%;
            color: $brand-primary;
            background-color: transparent;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: $brand-primary;
                color: $white;
            }
        }
    }
}
.options {
    &-list {
        list-style: none;
        padding: 0;
    }
}
.groups {
    &-link {
        @include link;
        @include link-text;
        &[aria-expanded='true'] { @include link-expanded }
    }

    .subgroups {
        @include collapse-block;

        &-list { @include collapse-list }
        &-item { @include collapse-item }
        &-link { @include collapse-link }
    }
}
.illustration {
    &-image {
        position: relative;
        overflow: hidden;
        height: 500px;
        background-color: $white;
        border: 3px solid $brand-gray-dark;
    }
    &-zoomer {
        position: absolute;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        z-index: 100;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: $brand-gray-light;
    }
}
