// Colors
$brand-primary:         #075898;
$brand-gray-dark:       #7a7a7a;
$brand-gray:            rgb(196, 196, 196);
$brand-gray-light:            #d7d6d4;
$brand-red:             #de2b1c;

$brand-black:           #333333;
$loading:               -45deg, #2980b9, #2980b9 11px, #eee 10px, #eee 20px; /* determines size */

$fa-font-path:          '~font-awesome/fonts';
